<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.openpark.Rfid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature android:name="android.hardware.nfc" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/logoo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logoo"
        android:supportsRtl="true"
        android:theme="@style/Theme.OpenPark"
        android:usesCleartextTraffic="true">
        <activity android:name=".views.ReportsActivity"></activity>
        <activity android:name=".views.AddCardActivity" />
        <activity android:name=".views.ChargeWalletActivity" />
        <activity android:name=".views.SearchMobileActivity" />
        <activity android:name=".views.AddVisitorActivity" />
        <activity android:name=".views.LoginActivity" />
        <activity android:name=".views.BaseActivity" />
        <activity android:name=".views.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.MainActivity" />
    </application>

</manifest>